{% extends 'blog/main.html' %}

{% block content %}
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .greeting {
            font-size: 24px;
            margin-bottom: 20px;
        }

        form {
            width: 100%;
            max-width: 600px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f8f8f8;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .btn {
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
        }

        .btn-secondary {
            background-color: #6c757d;
            color: #fff;
        }

        form,
        .btn {
            margin-top: 10px;
        }
    </style>
    <h2>Create Blog Post</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit">Save</button>
    </form>
{% endblock %}
